<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <img src="img/logo-small.png">
    <h1><%= title %></h1>
    <form action="/users" method="POST">
      First Name: <input type="text" name="firstName">
      Last Name: <input type="text" name="lastName">
      Email: <input type="text" name="email">
      Username: <input type="text" name="username">
      Password: <input type="text" name="password">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>